<div class="jumbotron"> 
    <div class="container py-5">
      <div class="jumbotron-bg"></div>
      <h1 class="display-4 mb-3 mt-lg-5 letter-space-2">Discover your taste!</h1>
      <p class="lead text-white">You can find there a lot of delicious dishes!</p>
      <hr class="my-5">
      <p class="text-center text-md-left text-white">If you can know more about us, welcome to click read more.</p>
      <p class="text-center text-md-left lead">
        <a class="btn btn-primary btn-lg text-white" role="button" routerLink="/about">Read more</a>
      </p>
    </div>
  </div>